@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaFont.otf') format("opentype");
}

* {
    font-family: 'Proxima Nova';
    margin: 0;
    padding: 0;
}

.active {
    border-color: black;
    animation: success .5s;
}

@keyframes success {
    from {
        border-color: #00e1ff;
        box-shadow: 0 0 12px 8px #00e1ff;
    }
    to {
        border-color: black;
        box-shadow: none;
    }
}
